<div class="pattern-container flex-fill scroll-box-container h-100" *ngIf="steps">
  <div class="pattern-header">
      <h3 class="h4 position-relative">{{activePattern.title}}</h3>
      <button class="muted" [disabled]="!currentStep" (click)="changeStep(paginator.FIRST_PAGE)">
        <i class="material-icons"> first_page </i>
      </button>
      <button class="muted" [disabled]="!currentStep" (click)="changeStep(paginator.PREVIOUS_PAGE)">
        <i class="material-icons"> chevron_left </i>
      </button>
      <button class="muted" [disabled]="currentStep >= (steps?.length - 1)" (click)="changeStep(paginator.NEXT_PAGE)" >
        <i class="material-icons"> chevron_right </i>
      </button>
      <button class="muted" [disabled]="currentStep >= (steps?.length - 1)" (click)="changeStep(paginator.LAST_PAGE)" >
        <i class="material-icons"> last_page </i>
      </button>
    </div>

    <div class="scroll-box" #scrollBox>
      <p [innerHTML]="steps[currentStep]  | markdown" *ngIf='steps && steps[currentStep]'></p>
    </div>
</div>
