<div class="command-line-container">
  <input #input type="text" class="form-control" placeholder="Insert command" [formControl]="commandLine"
    (keyup.enter)="executeCommandSubj$.next(commandLine.value)" (keydown.arrowup)="arrowUpClickSubj$.next($event)"
    (keydown.arrowdown)="arrowDownClickSubj$.next($event)" />

  <div class="font-italic text-muted suggestions pl-2 mb-0 h-auto">
    <small *ngIf="
        !commandLine.dirty || commandLine.value.length < commandLineMinLetter
      ">
      no command enter (min. 3 char)
    </small>
    <small *ngIf="commandLine.valid" class="suggestion">
      {{ activeCommand?.suggestion }}</small>
    <small class="text-danger" *ngIf="isValidCommand()">
      command not found
    </small>
  </div>
</div>