@import "./settings/index";
@import "./tools/index";
@import "./generics/index";
@import "./elements/index";
@import "./objects/index";
@import "./utilities/index";

tr-pattern-content h1 {
  font-size: 1.3rem !important;
  font-weight: bold;
}

tr-pattern-content h2 {
  font-size: 1.1rem !important;
  font-weight: bold;
}

tr-command-documentation h2 {
  font-size: 1.1rem !important;
  font-weight: bold;
}

tr-pattern-content {
  flex: 2;
  overflow: hidden;
  position: relative;
}





